PORT=8080
NODE_ENV=development
DOMIZAN_ENV=development

LEMON_MODE=test
LEMON_STORE_ID=321476
LEMON_PRODUCT_ID=906701
LEMON_VARIANT_ID=1426060
LEMON_CHECKOUT_URL=https://domizan.lemonsqueezy.com/checkout/buy/628ec32c-e243-4be8-8722-08a863a9c827

LEMON_API_KEY=
LEMON_WEBHOOK_SECRET=
